mybet-xml-datastore/src/main/resources/com/cm/mybet/datastore/config/grouping-sorting-strategies.xsd

<?xml version="1.0"?>
<!--

XML Schema for validating Grouping and Sorting Strategy configuration.
 
 -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="grouping-sorting-strategies" type="groupingAndSortingStrategiesType"/>
    <xsd:complexType name="groupingAndSortingStrategiesType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="groupingAndSortingStrategy" type="groupingAndSortingStrategyType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="groupingAndSortingStrategyType">
        <xsd:sequence>
            <xsd:element name="id" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[a-zA-Z0-9/_\- ]*"/>
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="name" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="class-name" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="bean-name" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>